Package: gcde-desktop
Version: 0.0.9-alpha0
Maintainer: Thomas Castleman <contact@draugeros.org>
Section: admin
Homepage: https://github.com/drauger-os-development/gcde
Architecture: all
Priority: optional
License: GPL-2+
Depends: gir1.2-gtk-3.0 (>=3.24.5), python3, python3-psutil (>=5.5.1), gcde-common (>=0.0.3-alpha0), xfwm4 | openbox, xdg-utils, compton, wmctrl, xfdesktop4 (>=4.14)
Description: GCDE Desktop
 GCDE is a desktop that gives Linux a game console look and feel. It's easy to use,
 lightweight, and hackable.
